:root {
    --dark-red: #622310;
    --fill-cream: #FFFAF0;
    --gold: #FFD078;
    --light-gold: #FFF0D4;
    --med-cream: #E0C593;
}

@font-face {
  font-family: dm-serif-display; /* set name */
  src: url(fonts/dm-serif-display.woff2); /* url of the font */
}

html {
    font-size: 16px;
}

body {
    background-image: url("images/paper-texture.png");
    background-color: #EAD9B9;

    margin: 0;
    padding: 0;
}

header {
    background-color: var(--dark-red);

    padding: 20px;

    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--gold);
    font-family: dm-serif-display;

    /* border-bottom: 3px solid var(--light-gold); */
}

nav {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

nav a {
    color: var(--light-gold);

    padding: 10px;
}

.hamburger-menu {
    display: none;
}

h1 {
    font-size: 3rem;

    padding: 0px;
    line-height: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: dm-serif-display;
}

main {
    display: grid;
    gap: 10px;

    grid-template-columns: 1fr 8fr;

    padding: 20px;
}

.edit-menu {
    background-color: var(--dark-red);
    border: none;
    border-radius: 10px;

    padding: 10px;

    display: flex;
    flex-direction: column;

    height: 600px;
}

button {
    background-color: var(--gold);
    color: black;
    border: none;
    border-radius: 5px;

    font-family: "dm-serif-display";
    font-size: 1rem;

    padding: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: var(--light-gold);
    box-shadow: 0px 0px 10px var(--gold);
}

.popup {
    position: fixed;

    background-color: var(--dark-red);
    color: var(--light-gold);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.7);

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    height: auto;
    width: auto;
}

.hide {
    display: none;
}

#overwrite-warning {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 40vw;
}

#char-creation-popup {
    position: fixed;
    right: 10px;
    bottom: 10px;
    margin-top: auto;

    text-align: justify;

    max-width: 40vw;

    #cc-buttons {
        display: flex;
        justify-content: space-between;

        text-align: center;

        width: 100%;
        padding: 0;

        gap: 20px;

        button {
            margin: 0;
        }
    }
}

.sheet-main {
    display: grid;
    gap: 20px;

    grid-template-columns: 0.7fr 3fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;

    max-height: 45rem;
}

.main-item {
    border: 3px solid black;
    background-color: var(--fill-cream);
}

.sheet-head {
    display: grid;
    /* gap: 3px;
    background-color: var(--dark-red); */
    grid-template-columns: 28% 20% 30% 8% 14%;
    grid-template-rows: 60% 40%;

    height: auto;
    /* padding: 3px; */

    margin-bottom: 20px;

    .sh-val {
        display: block;

        text-align: left;
        margin: 10px;
        padding: 10px;
    }

    .sh-in {
        display: none;

        margin: 10px;
        height: 80%;
        width: 100%;
    }

    #name {
        grid-column-start: 1;
        grid-column-end: 3;

        grid-row: 1;
    }

    #pronouns {
        grid-column: 1;
        grid-row: 2;
    }

    #age {
        grid-column: 2;
        grid-row: 2;
    }

    #position {
        grid-column: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #level {
        grid-column: 4;
        grid-row-start: 1;
        grid-row-end: 3;

        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        justify-content: center;
    }

    #wounds {

        grid-column: 5;
        grid-row-start: 1;
        grid-row-end: 3;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr;

        h3 {
            /* border: 1px solid black; */
            grid-row: 1;
            grid-column-start: 1;
            grid-column-end: 4;

            text-align: center;
        }

        p {
            /* border: 1px solid black; */
            text-align: center;
            margin: 0px;
            padding: 0px;
        }

        .wound-check {
            border: 1px solid black;
            align-self: center;
            justify-self: center;
            margin-top: 5px;

            border: 1px solid black;
        }
    }
}

.sheet-header-item {
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; */

    height: auto;

    border: 3px solid black;
    background-color: var(--fill-cream);

    padding: 10px;

    align-items: center;

    h2, h3 {
        line-height: 100%;
        margin: 0;
        /* border: 1px solid blue; */
    }
}

.sheet-head.edit-mode {
    .sh-val {
        display: none;
    }

    .sh-in {
        display: block;
    }
}

#abilities {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .ab-val {
        display: block;
    }

    .ab-in {
        display: none;
    }

    div {
        margin: 10px;
        width: 100px;
        border: 1px black solid;
        border-radius: 20px;

        align-self: center;
    }

    input {
        max-width: 60%;
        height: 30px;
        text-align: center;

        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 1.2rem;

        
        justify-self: center;

        margin-bottom: 10px;
        margin-top: 0;
    }

    h2 {
        line-height: 100%;
        padding: 0;
    }
}

#abilities.edit-mode {

    .ab-val {
        display: none;
    }

    .ab-in {
        display: block;
    }
}

#skills-talents-etc {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#background {
    grid-column: 2;
    grid-row: 3;
}

#gear {
    grid-column: 3;
    grid-row: 1;
}

#notes {
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

#upload-popup {
    position: fixed;
    width: 500px;
    height: 30%;
    justify-self: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: black;
    color: white;
}

#skills {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;

    display: grid;

    align-self: center;

    .sk-val {
        display: block;
    }

    .sk-in {
        display: none;
    }

    h2 {
        margin: 0;
        text-align: center;
    }
}

.skills-talents-etc {
    align-items: center;
}

.skill {
    /* border: 1px solid black; */
    
    padding: 5px 10px 5px 10px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;

    align-self: center;

    input {
        align-self: center;
        justify-self: center;

        height: 100%;
        width: 50%;
    }

    h4 {
        margin: 0;

        font-size: 1.1rem;
    }

    .sk-val {
        text-align: right;
    }
}

#skills.edit-mode {
    .sk-val {
        display: none;
    }

    .sk-in {
        display: block;
    }
}

.sk-val, .sk-in {
    grid-column: 2;
}

#talents-and-expertise {
    h2 {
        margin: 5px;
        text-align: center;
    }

    padding-left: 10px;
    padding-right: 10px;
}

.talents, .expertise {
    .te-val {
        display: block;
    }

    .te-in {
        display: none;
    }
}

.talents.edit-mode, .expertise.edit-mode {
    .te-val {
        display: none;
    }

    .te-in {
        display: block;
    }
}

#background, #gear, #notes {
    padding: 10px;

    .long-text-in {
        display: none;
    }

    .long-text-val {
        display: block;
    }

    h3 {
        margin: 0;
    }
}

#background.edit-mode, #gear.edit-mode, #notes.edit-mode {
    .long-text-in {
        display: block;
    }

    .long-text-val {
        display: none;
    }
}

/* IN PROGRESS - styling for phone screens */
@media (max-width: 1050px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .hamburger-menu {
        max-width: 50%;
        /* width: 10rem; */
        display: flex;
        justify-content: center;
        align-content: center;
        align-self: center;
        flex-direction: column;

        height: 50px;

        padding: 5px;
        border-radius: 5px;
        border: 0px;
        background-color: var(--gold);

        transition-duration: 0.5s;

        span {
            background-color: var(--dark-red);
            height: 6px;
            width: 40px;
            border-radius: 20px;
            /* border: 1px solid #000000; */
            padding: 0;
            margin: 3px;
        }
    }

    nav {
        display: none;
    }

    nav.show {
        background-color: var(--dark-red);

        display: flex;
        flex-direction: column;
        position: absolute;
        top: 103px;
        right: 0px;
        height: 200px;
        width: 170px;

        padding-bottom: 10px;

        text-align: left;
        align-items: start;
    }

    .edit-menu {
        height: auto;

        #edit-btn {
            margin-bottom: 0;
        }

        #download-btn {
            display: none;
        }

        #upload-btn {
            display: none;
        }

        #clear-storage {
            display: none;
            margin-bottom: 0;
        }
    }

    .edit_menu.expanded {

        #download-btn {
            display: block;
        }

        #upload-btn {
            display: block;
        }

        #clear-storage {
            display: block;
            margin-bottom: 0;
        }
    }

    .sheet {
        display: flex;
        flex-direction: column;
    }

    .sheet-head {
        display: grid;
        grid-template-columns: 50% 20% 30%;
        grid-template-rows: 30% 20% 20% 30%;

        margin-bottom: 10px;
        height: auto;
        max-height: 100vh;

        #name {
            grid-row: 1;
            grid-column: 1 / 4;

            #name-in {
                width: 100%;
                margin-right: 10px;
            }
        }

        #pronouns {
            grid-row: 2;
            grid-column: 1 / 3;
        }

        #age {
            grid-row: 2;
            grid-column: 3 / 4;
        }

        #position {
            grid-row: 3;
            grid-column: 1 / 3;
        }

        #level {
            grid-row: 3;
            grid-column: 3;

            align-items: center;
            flex-direction: row;
            text-align: left;
        }

        #wounds {
            grid-row: 4;
            grid-column: 1 / 4;

            display: grid;
            grid-template-rows: 60% 40%;
            grid-template-columns: 22% 26% 26% 26%;

            h3 {
                grid-row: 1 / 3;
                grid-column: 1;
            }


        }

        #name, #pronouns, #age, #position, #level {
            height: auto;
            
            h3 {
                line-height: 100%;
            }

            h2 {
                line-height: 150%;
            }
        }

        .sh-in {
            height: 100%;
            margin-left: 10px;
        }
    }

    .sheet-main {
        display: flex;
        flex-direction: column;
    }

    #skills-talents-etc {
        display: flex;
        flex-direction: column;
    }

    #abilities {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        h3 {
            width: 100%;
        }
    }
}