.first-adv-gm-page {
    #header {
        color: black;
        background-color: var(--light-gold);
        padding: 20px;
        margin-top: 20px;

        border-top: 5px solid var(--dark-red);
        border-bottom: 5px solid var(--dark-red);

        p {
            max-width: 1000px;
            text-align: center;
            justify-self: center;
        }

        h2 {
            text-align: center;
            margin: 0;
            padding-bottom: 20px;
            font-size: 2rem;
            color: var(--dark-red);
        }

        hr {
            border: 2px solid var(--gold);
            max-width: 50%;
            margin: auto;
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
        }
    }

    .resources-container {
        margin: 20px;

        position: sticky;
        top: 200px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: start;
    }

    .text-boxes, .resources {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        overflow: scroll;
    }

    .adv-block {
        display: block;
        margin-bottom: 20px;
        overflow: hidden;

        border-radius: 20px;
        border: 3px solid var(--light-red);

        transition: max-height 0.3s ease-out;

        .block-header {
            border-bottom: 5px solid var(--gold);
        }
    }

    .block-header {
        background-color: var(--light-gold);
        padding: 20px;
        color: var(--dark-red);
        border-radius: 10px 10px 0px 0px;
        transition: border 0.3s ease-in;

        display: flex;
        justify-content: space-between;

        h2 {
            line-height: 100%;
            margin: 0;
        }

        .drop-down-btn {
            background-color: transparent;
            border-radius: 0px;
            padding: 0;
            margin: 0;

            height: 20px;
            rotate: 0deg;

            img {
                height: 20px;
            }

            transition-duration: 0.5s;

        }

        .drop-down-btn:hover {
            background-color: transparent;
            box-shadow: none;
        }
    }

    .block-content {
        max-height: 5000px;
        overflow: hidden;
        background-color: var(--fill-cream);
        border-radius: 0px 0px 10px 10px;
    }

    .content-padding {
        padding: 20px;
    }

    .adv-block.collapsed {
        .block-content {
            max-height: 0;

            transition: max-height 0.3s ease-out;
        }

        .block-header {
            border-radius: 10px;
            border-bottom: none;

            transition: border 0.3s ease-out;
        }

        .drop-down-btn {
            rotate: 180deg;
        }
    }

    p {
        font-size: 1.2rem;
        text-align: justify;
        padding: 0;
    }

    img {
        max-width: 100%;
    }
}