:root {
    --dark-red: #622310;
    --light-red: #AE5940;
    --fill-cream: #FFFAF0;
    --gold: #FFD078;
    --light-gold: #FFF0D4;
    --med-cream: #E0C593;

    --half-gold: rgba(255, 208, 120, 0.5);

    --p-font: "EB Garamond", "Times New Roman";
    --h-font: "dm-serif-display", "Times New Roman";
    --mono-font: "recursive-mono-linear-static";
}

@font-face {
  font-family: "dm-serif-display"; /* set name */
  src: url(fonts/dm-serif-display.woff2); /* url of the font */
}

html {
    font-size: 16px;
}

body {
    background-image: url("../images/paper-texture.png");
    background-size: 100vw;
    background-repeat: repeat;
    background-color: #EAD9B9;

    margin: 0;
    padding: 0;

    font-family: var(--p-font);
}

header {
    background-color: var(--dark-red);

    padding: 20px;

    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;


    color: var(--gold);
    font-family: var(--h-font);

    z-index: 100;

    /* border-bottom: 3px solid var(--light-gold); */
}

a {
    color: var(--dark-red);
}

nav {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

nav a {
    color: var(--light-gold);
    font-size: 1.2rem;

    padding: 10px;
}

.hamburger-menu {
    display: none;
}

h1 {
    font-size: 3rem;

    padding: 0px;
    line-height: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: var(--h-font);
}

p, label, input, textarea {
    font-family: var(--p-font);
    font-size: 1.2rem;
}

.two-columns-p {
    column-count: 2;
    column-gap: 20px;
}

button {
    background-color: var(--gold);
    color: black;
    border: none;
    border-radius: 5px;

    font-family: var(--p-font);
    font-size: 1.2rem;
    font-weight: bold;

    padding: 10px;

    transition-duration: 0.1s;
}

button:hover {
    background-color: var(--light-gold);
    box-shadow: 0px 0px 10px var(--gold);
}

.popup {
    position: fixed;

    z-index: 99;

    background-color: var(--dark-red);
    color: var(--light-gold);
    border: 5px solid var(--light-red);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.7);

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 16px;

    height: auto;
    width: auto;
}

.hide {
    display: none;
}

.player-resources-page {
    #intro {
        color: black;
        background-color: var(--light-gold);
        padding: 20px;
        margin-top: 20px;

        border-top: 5px solid var(--dark-red);
        border-bottom: 5px solid var(--dark-red);

        p {
            max-width: 1500px;
            text-align: justify;
            justify-self: center;
        }

        hr {
            border: 2px solid var(--gold);
            max-width: 50%;
            margin: auto;
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
        }
    }

    h2 {
        text-align: center;
        margin: 0;
        padding-bottom: 20px;
        font-size: 2rem;
        color: var(--dark-red);
    }

    .resources-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;

        margin: 20px;
        gap: 20px;
        
        .locked-resources, .unlocked-resources {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .player-resource {
                background-color: var(--fill-cream);
                height: min-content;
                border-radius: 20px;
                border: 3px solid var(--light-red);
            }
        }

        h3 {
            text-align: center;
            margin: 0;
            padding: 20px;
            font-size: 1.3rem;
            background-color: var(--light-gold);
            color: var(--dark-red);

            border-bottom: 5px solid var(--gold);

            border-radius: 20px 20px 0px 0px;
        }

        img {
            display: block;
            max-width: 100%;
            margin: 0;
            padding: 0;
            padding-top: 20px;
        }
    }

    .outer-content-container {
        padding: 20px;
    }

    .player-resource {

        .content {
            max-height: 2000px;
            overflow: hidden;

            transition: max-height 0.3s ease-in;
        }

        .relock-btn {
            display: block;
        }
    }

    .player-resource.locked {
        .content {
            max-height: 0px;
            overflow: hidden;

            transition: max-height 0.3s ease-out;
        }

        .relock-btn {
            display: none;
        }
    }

    .password {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        height: 50px;

        button {
            height: 100%;
            font-family: var(--p-font);
            font-weight: bold;
            padding: 5px;
            height: min-content;
            scale: 1;
        }

        button:hover {
            scale: 1.1;
            border: 2px solid var(--light-red);
            box-sizing: border-box;
        }

        input {
            height: min-content;
            border: 2px solid var(--light-red);
        }

        label {
            font-weight: bold;
        }
    }

    .outer-content-container {
        #test {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
        }
    }

    .outer-content-container:hover {
        #test {
            max-height: 500px;
            transition: max-height 0.3s ease-in;
        }
    }
}

/* IN PROGRESS - styling for phone screens */
@media (max-width: 1050px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .hamburger-menu {
        max-width: 50%;
        /* width: 10rem; */
        display: flex;
        justify-content: center;
        align-content: center;
        align-self: center;
        flex-direction: column;

        height: 50px;

        padding: 5px;
        border-radius: 5px;
        border: 0px;
        background-color: var(--gold);

        transition-duration: 0.5s;

        span {
            background-color: var(--dark-red);
            height: 6px;
            width: 40px;
            border-radius: 20px;
            /* border: 1px solid #000000; */
            padding: 0;
            margin: 3px;
        }
    }

    nav {
        display: none;
    }

    nav.show {
        background-color: var(--dark-red);

        display: flex;
        flex-direction: column;
        position: absolute;
        top: 103px;
        right: 0px;
        height: 200px;
        width: 170px;

        padding-bottom: 10px;

        text-align: left;
        align-items: start;

        a {
            font-family: var(--p-font);
            font-weight: bold;
        }
    }
}